:root {
  --chzzk-green: #00ffa3;
  --chzzk-white: #dfe2ea;
  --chzzk-black: #141517;
  --chzzk-icon-lightgray: #9da5b6;
  --chzzk-icon-gray: #333;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: var(--chzzk-black);
  color: #f1f1f1;
}

header {
  position: relative;
  /* background-color: aquamarine; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 10px 25px;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header-mid {
  position: absolute;
  left: 50%;
  width: 400px;
}
.menu-btn {
  font-size: 20px;
  font-weight: bold;
}
.logo {
  color: white;
  font-style: italic;
  font-size: 26px;
  font-weight: bold;
}
.nav-bar {
  display: flex;
  gap: 15px;
  margin: 0 10px;
}
.nav-bar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--chzzk-black);
  border-radius: 20px;
  border: 1px solid var(--chzzk-icon-lightgray);
  padding: 0 15px;
  width: 100%;
}
.search input {
  padding: 10px;
  border: none;
  background-color: var(--chzzk-black);
  border-radius: 20px;
  color: var(--chzzk-icon-lightgray);
  font-weight: 600;
}
.search-btn {
  color: var(--chzzk-icon-lightgray);
}

.mode-btn {
  font-size: 20px;
  font-weight: bold;
}
.log-in {
  background-color: var(--chzzk-black);
  border-radius: 20px;
  border: 1px solid var(--chzzk-icon-lightgray);
  padding: 8px 16px;
  color: var(--chzzk-white);
  font-size: 14px;
}

/* 사이드바 */
.side-bar {
  width: 60px;
  /* background-color: teal; */
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}
.menu {
  border-bottom: var(--chzzk-icon-gray) 1px solid;
  padding: 10px 0;
}
.menu-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  background-color: red;
  border-radius: 10px;
  padding: 3px;
  margin-bottom: 5px;
}
.menu-icon {
  font-size: 20px;
}
.menu-name {
  font-size: 11px;
  color: var(--chzzk-icon-lightgray);
  word-break: keep-all;
}
.category {
  border-bottom: var(--chzzk-icon-gray) 1px solid;
  padding: 15px 0;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cate-name {
  font-size: 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: var(--chzzk-icon-lightgray);
  font-weight: 500;
  line-height: 14px;
}
.cate-img img {
  display: block;
  border-radius: 10px;
  margin-top: 10px;
}
.profile-img img {
  display: block;
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 5px;
  border: 3px solid var(--chzzk-black);
}
.on {
  outline: 2px solid var(--chzzk-green);
}
.off {
  outline: 2px solid var(--chzzk-icon-gray);
}
